<div class="main manager-new">

    <div class="form-heading">新規管理者登録</div>
    <div class="form manager-form">
      <div class="form-body">
        
        <%= form_tag("/manager/create") do %>
          <p>ユーザー名</p>
          
          <input name="name" value="<%=  %>">
          <p>メールアドレス</p>
          
          <input name="email" value ="<%=  %>">
          <p>電話番号</p>
          
          <input name="tell" value ="<%=  %>">
          <p>パスワード</p>
          <input name="password" value ="<%=  %>" type ="password">

          <input type="submit" value="新規登録">
        <% end %>
      </div>
      
    </div>
  <%= link_to("← 戻る","/manager",class:"sbtn") %>
</div>